%h2 New Board
%div
  .form_item
    %label Name
    %input.text{ type: 'text', value: 'Sample Name' }
  .form_item
    %label Description
    %textarea Sample Description
  %div
    %button.btn-primary.actions Submit
